
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background: #deffe2;
    color: #c9ffbce7;
    font-family: Roboto Mono;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
    font-family: Roboto Mono;
    font-weight: 2000;
    letter-spacing: 50px;
    word-spacing: -20px;
    line-height: 50px;
}

p {
    background-color: #bcffd8;
    color: #52734D;
    border: 20px;
    border-radius: 150px;
    border-color: #91C788;
    border-style: ridge;
    margin: 100px;
    padding: 50px;
    text-align: center;
}
